@charset "utf-8";

body {
    font-family: "Yomogi";
}



img {
    width: 100%;
}

p {
    font-size: 18px;
}


label {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: block;
    background: #777;
    border-radius: 5px;
    z-index: 1000;
}

label span {
    width: 60%;
    height: 4px;
    display: block;
    position: absolute;
    left: 20%;
    background-color: #fff;
    border-radius: 5px;
    /*ハンバーガーメニュー変化アニメーション*/
    transition: all 0.2s linear;
}

label span:nth-of-type(1) {
    top: 10px;
    transform: rotate(0);
}

label span:nth-of-type(2) {
    top: 18px;
    transform: scale(1);
}

label span:nth-of-type(3) {
    bottom: 10px;
    transform: rotate(0);
}

#open:checked+label span:nth-of-type(1) {
    top: 18px;
    transform: rotate(-45deg);
}

#open:checked+label span:nth-of-type(2) {
    transform: scale(0);
}

#open:checked+label span:nth-of-type(3) {
    bottom: 18px;
    transform: rotate(45deg);
}

#menuWrap ul {
    /* margin: 0 auto; */
    padding-top: 60px;
    padding-left: 0;
}

li {
    list-style: none;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

#menuWrap {
    position: fixed;
    top: 0;
    right: -240px;
    overflow: hidden;
    width: 200px;
    height: 100%;
    padding: 20px;
    transition: left.5s, right.5s;
    background-color: rgba(86, 86, 86, .7);
    z-index: 1000;
}

.toggle {
    font-size: 30px;
    cursor: pointer;
    z-index: 10000;
}

.toggle:hover {
    text-decoration: underline;
}

#open {
    display: none;
}

#open:checked~#menuWrap {
    right: 0;
}






header {
    width: 100%;
    height: 130px;
    background-color: #FFE471;
}



.headerWrap {
    max-width: 1280px;
    height: 128px;
    margin: 0 auto;
    padding: 0 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}



.headerWrap h1 {
    width: clamp(25px, 100%, 75px);
    z-index: 200;
    margin: 0 auto;
}

.headerImg img {
    vertical-align: top;
}

.headerImg {
    width: 100%;
}

/* .logo {
    width: 39px;
    height: 45px;

    position: 200px;
} */


.top {
    background-color: #F6F6F6;
}

.top h2 {
    font-size: 32px;
    color: #7A6BB7;
    text-align: center;
    margin-bottom: 2%;
    padding-top: 5%;
}

.concept {
    width: 100%;
    height: 100%;
    background-color: #F3EEFF;
}

.conceptImg {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.conceptImg img {
    width: 100%;
    object-fit: cover;
}


h3 {
    font-size: 24px;
    border: 3px solid #ffffff;
    border-radius: 20px;
    width: 100px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-bottom: 1%;
    /* margin-top: 2%; */
    text-align: center;
}

.concept h3 {
    margin-top: 2.5%;
}

.concept p {
    margin-bottom: 3%;
}

.concept h3,
p,
h4,
h5 {
    text-align: center;
}


h4 {
    font-size: 24px;
    margin-top: 5%;
    margin-bottom: 1rem;
}

h5 {
    font-size: 20px;
    margin-bottom: 3.5%;
}

.menu {
    background-color: #E5FDFF;
    padding-top: 1%;
    padding-bottom: 2%;
}

.menu h3 {
    width: 70px;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}

.menu img {
    width: 100%;
    margin-bottom: 3%;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    margin: 0 15%;
    margin-bottom: 0.5%;
}

.reservation {
    width: 100%;
    height: 100%;
    background-color: #FDEAF4;
}

.reservationImg {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.right {
    width: 20%;

}

.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.reservation1 {
    width: 100%;
    height: 100%;

}

.reservationImg1 {
    width: 100%;
}

.reservationImg1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 3%;
}

.reservation1 h3 {
    width: 150px;
    margin-top: 2%;
}


.reservationBox {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.reservationBox img {
    width: 100%;
}

.p_class {
    margin-bottom: 13%;
}



.space_access {
    background-color: #E5FDFF;
    padding-top: 1.5%;
    padding-bottom: 3%;
}

.space_access h3 {
    margin-top: 0.05%;
    margin-bottom: 0.5%;
    width: 85px;
}

.space_access p {
    margin-bottom: 1.2%;
}

.space_access ul {
    display: flex;
    justify-content: space-around;
    margin: 0 15%;

    margin-bottom: 3%;
    gap: 10px;
}

.access p {
    margin-bottom: 3%;
}

.youtube iframe,
.googlemap iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.googlemap {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;

    width: 65%;
    margin: 0 auto;
    margin-bottom: 2%;

    border: solid 0.4rem #ffffff;
    border-radius: 20px;
}

.sns {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0.5rem;
    background-color: #F3EEFF;
    padding-bottom: 3%;
}

.sns h3 {
    width: 60px;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}

.sns p {
    margin-bottom: 3%;
}


.snscontainer {
    display: flex;
    justify-content: space-around;
    margin: 0 15%;
}

/* tiktok埋め込みに存在している余分な余白を除去するための記述。
.tiktok-embedというクラスが余白を作っていますのでそれを強めのセレクタ方法で上書き
（.tiktok-embedのみで指定すると効きません） */
.snscontainer .tiktok-embed {
    margin: 0 auto;
}

/* ================================================= */


.tiktok-embed {
    border: solid 0.4rem #ffffff;
    border-radius: 20px;
}

.twitter-timeline {
    border: solid 0.4rem #ffffff;
    border-radius: 20px;
}

.tiktokbox {
    margin-bottom: 3%;
}

.snscontainer {
    gap: 10px;
}


.footer {
    width: 100%;
}

.footerImg {
    background-color: #F3EEFF;
}


.footerWrap {
    width: 100%;
    height: 100px;
    background-color: #FFE471;
}

.footerWrap h1 {
    width: clamp(25px, 100%, 75px);
    margin: 0 auto;
    padding-top: 0.75%;
}








@media (max-width:800px) {

    .top h2 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 16px;
    }

    .menu ul {
        width: 80vw;
        margin: 0 auto;
    }

    .reservationImg1 {
        width: 88%;
        flex-direction: column;
        margin: 0 auto;
    }

    .reservation h4 {
        font-size: 18px;
    }

    .space_access ul {
        width: 50%;
        flex-direction: column;
        margin: 0 auto;
    }

    .snscontainer {
        flex-direction: column;
        align-items: center;

        width: 80%;
        margin: 0 auto;
    }

    .googlemap {
        width: 80%;
        margin: 0 auto;
    }

    .footerWrap h1 {
        padding-top: 1.25%;
    }

}

@media (max-width:600px) {
    .menu ul {
        flex-direction: column;
        margin: 0 auto;
        width: 60vw;
    }
}

@media (max-width:375px) {
    .top h2 {
        font-size: 18px;
    }

    h4 {
        font-size: 18px;
    }

    .concept p {
        margin-bottom: 8%;
    }

    .reservation1 h4 {
        font-size: 18px;
    }

    .sns h3 {
        margin-top: -1%;
    }


    .footerWrap h1 {
        padding-top: 2.7%;
    }

}